body {
    color: #6d6d6d;
    font-family: "Avenir";
    background: url("web2.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: relative;
    cursor: crosshair;
}

h1 {
    padding-left: 200px;
    padding-top: 150px;
    font-size: 64px;
}

.images {
  text-align: center;
}

img {
  width: 400px;
  height: 620px;
  padding-bottom: 10vh;
  margin: 40px;
}

p {
   text-indent: 200px;
   font-size: 18px;
   margin: 0;
}
