body {
    color: #6d6d6d;
    font-family: "Avenir";
    background: url("web2.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: relative;
    cursor: crosshair;
}

h1 {
    padding-left: 30vh;
    padding-top: 20vh;
    font-size: 64px;
}

.images {
  text-align: center;
  position: center;
}

img {
  width: 600px;
  height: 800px;
  padding-bottom: 10vh;
  margin: 40px;
}

p {
    padding-left: 30vh;
    padding-right: 30vh;
}
